<nav class="bg-dark-80 shadow" style="position: fixed; width: 100%; top: 0; z-index: 100;">
    <div class="container flex items-center justify-between p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        <div>
            <img src="../../../assets/img/icon_discorvem_white.png" alt="Logo" class="mr-2" style="width: 50px; height: 50px;">
        </div>
        <div class="flex justify-center flex-grow"> 
            <a routerLink="/acceuil" class="text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6" style="text-decoration: none;">Accueil</a>

            <a routerLink="/model" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6" style="text-decoration: none;">L'Objet</a>

            <a routerLink="/a-propos" class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6" style="text-decoration: none;">A propos</a>
        </div>
    </div>
</nav>